@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
* {
  font-family: "arial";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #111111;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
  position: fixed;
  left: 0%;
  right: 0%;
  top: 0%;
  z-index: 12;
  color: white;
}
header i {
  font-size: 25px;
  cursor: pointer;
  background-color: #64ffda;
  width: 100px;
  height: 100px;
  padding: 6px 8px;
  color: black;
  border-radius: 50%;
}
header h2 {
  font-size: 25px;
  font-weight: bold;
  color: #64ffda;
  background: none;
}
header div {
  background: none;
}
header a {
  margin-left: 18px;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  background: none;
  text-decoration: none;
  position: relative;
}
header a::before {
  content: "";
  position: absolute;
  top: 100%;
  width: 70%;
  height: 2px;
  background-color: #64ffda;
  transform: scaleX(0);
  transition: all 0.6s ease;
}
header a::before {
  bottom: 0;
  left: 0;
}
header a:hover::before {
  transform: scale(1);
  margin-left: 15px;
}
header a:hover {
  color: #64ffda;
}

.nav-box {
  display: none;
}

.nav_container {
  position: fixed;
  display: block;
  top: 11%;
  right: 3%;
  z-index: 12;
  background: rgba(255, 255, 255, 0.55);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  width: 200px;
  height: 300px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.nav_container a {
  color: black;
  background: none;
  text-decoration: none;
  line-height: 3;
  text-transform: uppercase;
  font-weight: 700;
}
.nav_container a:hover {
  color: #64ffda;
  transition: 0.5s;
}

#Mobile_nav {
  display: none;
}

.heroBack {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 100%;
  height: 100%;
  color: white;
}
.heroBack .hero_info {
  width: 50%;
  padding: 0px 20px;
}
.heroBack .hero_info .name {
  font-size: 30px;
  font-weight: 700;
  color: #ccd6f6;
}
.heroBack .hero_info h2 {
  font-size: 45px;
  color: #64ffda;
}
.heroBack .hero_info p {
  line-height: 1.5;
  font-size: 20px;
  text-align: justify;
}
.heroBack .hero_info .resume_download {
  padding: 20px 0px;
}
.heroBack .hero_info .resume_download a {
  color: #64ffda;
  border: 1px solid #64ffda;
  padding: 10px 40px;
  text-decoration: none;
}
.heroBack .hero_info .resume_download a:hover {
  background-color: #64ffda;
  transition: 0.2s;
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.25);
  color: black;
}
.heroBack .hero_info .text {
  overflow: hidden;
  font-size: 35px;
  font-weight: 600;
  border-right: 2px solid #64ffda;
  color: #64ffda;
  white-space: nowrap;
  animation: typing 4s steps(40, end) infinite;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 45%;
  }
}

.hero_img {
  width: 50%;
}
.hero_img img {
  height: auto;
  width: 100%;
}

#about {
  padding: 60px 30px;
}
#about h3 {
  border-right: 1px solid #64ffda;
  color: white;
  padding: 10px;
}
#about h2 {
  color: white;
  text-transform: uppercase;
  font-size: 25px;
  margin-left: 10px;
  position: relative;
}
#about h2::before {
  content: "";
  position: absolute;
  top: 100%;
  width: 70%;
  height: 2px;
  background-color: #64ffda;
  transform: scaleX(0);
  transition: all 0.6s ease;
}
#about h2::before {
  bottom: 0;
  left: 0;
}
#about h2:hover::before {
  transform: scale(1);
  margin-left: 2px;
}
#about h2:hover {
  color: #64ffda;
}
#about .about_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 50px 30px;
}
#about .about_container .about_img {
  width: 50%;
}
#about .about_container .about_img img {
  width: 450px;
  height: 450px;
}
#about .about_container .about_info {
  width: 50%;
  padding: 0px 20px;
}
#about .about_container .about_info p {
  color: white;
  font-size: 20px;
  line-height: 1.5;
  text-align: justify;
}

#skills {
  padding: 40px;
}
#skills h3 {
  border-right: 1px solid #64ffda;
  color: white;
  padding: 10px;
}
#skills h2 {
  color: white;
  text-transform: uppercase;
  font-size: 25px;
  margin-left: 10px;
  position: relative;
}
#skills h2::before {
  content: "";
  position: absolute;
  top: 100%;
  width: 80%;
  height: 2px;
  background-color: #64ffda;
  transform: scaleX(0);
  transition: all 0.6s ease;
}
#skills h2::before {
  bottom: 0;
  left: 0;
}
#skills h2:hover::before {
  transform: scale(1);
  margin-left: 2px;
}
#skills h2:hover {
  color: #64ffda;
}
#skills .skill_container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 30px 0px;
}
#skills .skill_container .skill_name {
  padding-top: 60px;
  border: 1px solid #64ffda;
  text-align: center;
  width: 200px;
  border-radius: 5px;
}
#skills .skill_container .skill_name:hover {
  background-color: #111111;
  transition: 0.2s;
  border: none;
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.25);
  color: black;
  cursor: pointer;
}
#skills .skill_container .skill_name h5 {
  background: none;
  color: white;
  padding: 20px 0px;
}
#skills .skill_container .skill_name img {
  width: 100px;
  height: 100px;
  background: none;
}

#Projects {
  padding: 40px;
}
#Projects h3 {
  border-right: 1px solid #64ffda;
  color: white;
  padding: 10px;
}
#Projects h2 {
  color: white;
  text-transform: uppercase;
  font-size: 25px;
  margin-left: 10px;
  position: relative;
}
#Projects h2::before {
  content: "";
  position: absolute;
  top: 100%;
  width: 90%;
  height: 2px;
  background-color: #64ffda;
  transform: scaleX(0);
  transition: all 0.6s ease;
}
#Projects h2::before {
  bottom: 0;
  left: 0;
}
#Projects h2:hover::before {
  transform: scale(1);
  margin-left: 2px;
}
#Projects h2:hover {
  color: #64ffda;
}
#Projects .Project_container {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 80px 20px;
}
#Projects .Project_container .project_img {
  width: 50%;
}
#Projects .Project_container .project_img img {
  width: 90%;
}
#Projects .Project_container .project_info {
  width: 50%;
}
#Projects .Project_container .project_info p {
  color: white;
  text-align: justify;
  line-height: 1.5;
}
#Projects .Project_container .project_info h5 {
  border-right: 1px solid #c1eee4;
  color: #64ffda;
  padding-right: 5px;
  font-size: 25px;
}
#Projects .Project_container .project_info span {
  color: #64ffda;
  text-align: justify;
  font-size: 17px;
  line-height: 1.6;
}
#Projects .Project_container .project_info .icon {
  border: 1px solid #64ffda;
  padding: 10px;
  text-decoration: none;
  color: white;
  margin-right: 15px;
  transition: 0.6s;
}
#Projects .Project_container .project_info .icon:hover {
  background-color: #64ffda;
  transition: 0.2s;
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.25);
  color: black;
}
#Projects .Project_container .project_info pre {
  color: #64ffda;
  font-size: 15px;
  padding: 10px 0px;
}

#Contact {
  padding: 40px;
}
#Contact h3 {
  border-right: 1px solid #64ffda;
  color: white;
  padding: 10px;
}
#Contact h2 {
  color: white;
  text-transform: uppercase;
  font-size: 25px;
  margin-left: 10px;
  position: relative;
}
#Contact h2::before {
  content: "";
  position: absolute;
  top: 100%;
  width: 90%;
  height: 2px;
  background-color: #64ffda;
  transform: scaleX(0);
  transition: all 0.6s ease;
}
#Contact h2::before {
  bottom: 0;
  left: 0;
}
#Contact h2:hover::before {
  transform: scale(1);
  margin-left: 2px;
}
#Contact h2:hover {
  color: #64ffda;
}
#Contact .contact_container {
  padding: 60px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}
#Contact .contact_container p {
  width: 50%;
  text-align: center;
  line-height: 1.5;
  font-size: 17px;
  padding-bottom: 15px;
}
#Contact .contact_container a {
  color: #64ffda;
  text-decoration: none;
  border: 1px solid #64ffda;
  padding: 10px 25px;
}
#Contact .contact_container a:hover {
  background-color: #64ffda;
  transition: 0.2s;
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.25);
  color: black;
}

footer {
  padding: 40px;
  color: white;
  border-top: 1px solid white;
}
footer #footer_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer #footer_container div {
  padding: 5px;
}
footer #footer_container div a {
  text-decoration: none;
  color: white;
}
footer #footer_container div a:hover {
  color: #64ffda;
}
footer #navArrow {
  position: fixed;
  right: 2%;
  bottom: 15%;
}
footer #navArrow a {
  color: black;
  font-size: 25px;
  background-color: #64ffda;
  padding: 5px;
  border-radius: 5px;
}
footer #footer_container_mobile {
  display: none;
}
footer .footer_title {
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  margin-bottom: 10px;
}
footer .footer_title .p {
  color: #64ffda;
}

@media (max-width: 767px) {
  header {
    display: none;
  }
  #Mobile_nav {
    display: flex;
    justify-content: space-around;
    background-color: black;
    padding: 20px;
    position: fixed;
    bottom: 0%;
    left: 0%;
    right: 0%;
    z-index: 12;
    border-top: 1px solid lightgrey;
  }
  #Mobile_nav .icon {
    background: none;
    font-size: 25px;
    color: white;
    text-decoration: none;
  }
  #Mobile_nav .icon:hover {
    color: #64ffda;
  }
  .heroBack {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 30px;
    width: 100%;
    height: 100%;
    color: white;
  }
  .heroBack .hero_info {
    width: 100%;
    padding: 0px 20px;
  }
  .heroBack .hero_info .name {
    font-size: 35px;
    font-weight: 700;
    color: #ccd6f6;
  }
  .heroBack .hero_info h2 {
    font-size: 25px;
    color: #64ffda;
  }
  .heroBack .hero_info .text {
    overflow: hidden;
    font-size: 35px;
    font-weight: 600;
    border-right: 2px solid #64ffda;
    color: #64ffda;
    white-space: nowrap;
    animation: typing 4s steps(40, end) infinite;
  }
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 90%;
    }
  }
  .heroBack .hero_img {
    width: 100%;
  }
  #about h3 {
    border-right: 1px solid #64ffda;
    color: white;
    padding: 6px;
  }
  #about h2 {
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    margin-left: 10px;
    position: relative;
  }
  #about h2::before {
    content: "";
    position: absolute;
    top: 100%;
    width: 90%;
    height: 2px;
    background-color: #64ffda;
    transform: scaleX(0);
    transition: all 0.6s ease;
  }
  #about h2::before {
    bottom: 0;
    left: 0;
  }
  #about h2:hover::before {
    transform: scale(1);
    margin-left: 2px;
  }
  #about h2:hover {
    color: #64ffda;
  }
  #about .about_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
    height: 100%;
    padding: 0px;
  }
  #about .about_container .about_img {
    width: 100%;
  }
  #about .about_container .about_img img {
    width: 100%;
  }
  #about .about_container .about_info {
    width: 100%;
  }
  #skills h3 {
    border-right: 1px solid #64ffda;
    color: white;
    padding: 6px;
  }
  #skills h2 {
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    margin-left: 10px;
    position: relative;
  }
  #skills h2::before {
    content: "";
    position: absolute;
    top: 100%;
    width: 90%;
    height: 2px;
    background-color: #64ffda;
    transform: scaleX(0);
    transition: all 0.6s ease;
  }
  #skills h2::before {
    bottom: 0;
    left: 0;
  }
  #skills h2:hover::before {
    transform: scale(1);
    margin-left: 2px;
  }
  #skills h2:hover {
    color: #64ffda;
  }
  #skills .skill_container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    padding: 30px 20px;
  }
  #Projects h3 {
    border-right: 1px solid #64ffda;
    color: white;
    padding: 6px;
  }
  #Projects h2 {
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    margin-left: 10px;
    position: relative;
  }
  #Projects h2::before {
    content: "";
    position: absolute;
    top: 100%;
    width: 90%;
    height: 2px;
    background-color: #64ffda;
    transform: scaleX(0);
    transition: all 0.6s ease;
  }
  #Projects h2::before {
    bottom: 0;
    left: 0;
  }
  #Projects h2:hover::before {
    transform: scale(1);
    margin-left: 2px;
  }
  #Projects h2:hover {
    color: #64ffda;
  }
  #Projects .Project_container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    height: 100%;
    padding: 50px 10px;
  }
  #Projects .Project_container .project_img {
    width: 100%;
    margin-top: 30px;
  }
  #Projects .Project_container .project_img img {
    width: 100%;
  }
  #Projects .Project_container .project_info {
    padding-top: 10px;
    width: 100%;
  }
  #Projects .Project_container .project_info span {
    text-align: justify;
  }
  #Contact h3 {
    border-right: 1px solid #64ffda;
    color: white;
    padding: 6px;
  }
  #Contact h2 {
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    margin-left: 10px;
    position: relative;
  }
  #Contact h2::before {
    content: "";
    position: absolute;
    top: 100%;
    width: 90%;
    height: 2px;
    background-color: #64ffda;
    transform: scaleX(0);
    transition: all 0.6s ease;
  }
  #Contact h2::before {
    bottom: 0;
    left: 0;
  }
  #Contact h2:hover::before {
    transform: scale(1);
    margin-left: 2px;
  }
  #Contact h2:hover {
    color: #64ffda;
  }
  #Contact .contact_container p {
    width: 100%;
    text-align: center;
    line-height: 1.5;
    font-size: 17px;
    padding-bottom: 15px;
  }
  footer #footer_container {
    display: none;
  }
  footer #navArrow {
    position: fixed;
    right: 5%;
    bottom: 15%;
  }
  footer #navArrow a {
    color: black;
    font-size: 25px;
    background-color: #64ffda;
    padding: 5px;
    border-radius: 5px;
  }
  footer #footer_container_mobile {
    display: flex;
    justify-content: center;
  }
  footer #footer_container_mobile a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .heroBack {
    display: flex;
    align-items: center;
    padding: 30px;
    width: 100%;
    height: 100%;
    margin-top: 46px;
    color: white;
  }
  #about h3 {
    border-right: 1px solid #64ffda;
    color: white;
    padding: 6px;
  }
  #about h2 {
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    margin-left: 10px;
    position: relative;
  }
  #about h2::before {
    content: "";
    position: absolute;
    top: 100%;
    width: 100%;
    height: 2px;
    background-color: #64ffda;
    transform: scaleX(0);
    transition: all 0.6s ease;
  }
  #about h2::before {
    bottom: 0;
    left: 0;
  }
  #about h2:hover::before {
    transform: scale(1);
    margin-left: 2px;
  }
  #about h2:hover {
    color: #64ffda;
  }
  #about .about_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
    height: 100%;
  }
  #about .about_container .about_img {
    width: 100%;
    text-align: center;
  }
  #about .about_container .about_img img {
    width: 500px;
  }
  #about .about_container .about_info {
    width: 100%;
  }
  #skills h3 {
    border-right: 1px solid #64ffda;
    color: white;
    padding: 6px;
  }
  #skills h2 {
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    margin-left: 10px;
    position: relative;
  }
  #skills h2::before {
    content: "";
    position: absolute;
    top: 100%;
    width: 90%;
    height: 2px;
    background-color: #64ffda;
    transform: scaleX(0);
    transition: all 0.6s ease;
  }
  #skills h2::before {
    bottom: 0;
    left: 0;
  }
  #skills h2:hover::before {
    transform: scale(1);
    margin-left: 2px;
  }
  #skills h2:hover {
    color: #64ffda;
  }
  #skills .skill_container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 40px;
    padding: 30px 0px;
  }
  #Projects h3 {
    border-right: 1px solid #64ffda;
    color: white;
    padding: 6px;
  }
  #Projects h2 {
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    margin-left: 10px;
    position: relative;
  }
  #Projects h2::before {
    content: "";
    position: absolute;
    top: 100%;
    width: 90%;
    height: 2px;
    background-color: #64ffda;
    transform: scaleX(0);
    transition: all 0.6s ease;
  }
  #Projects h2::before {
    bottom: 0;
    left: 0;
  }
  #Projects h2:hover::before {
    transform: scale(1);
    margin-left: 2px;
  }
  #Projects h2:hover {
    color: #64ffda;
  }
  #Projects .Project_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 80px 20px;
  }
  #Projects .Project_container .project_img {
    width: 100%;
  }
  #Projects .Project_container .project_img img {
    padding-bottom: 30px;
    width: 100%;
  }
  #Projects .Project_container .project_info {
    width: 100%;
  }
  #Contact h3 {
    border-right: 1px solid #64ffda;
    color: white;
    padding: 6px;
  }
  #Contact h2 {
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    margin-left: 10px;
    position: relative;
  }
  #Contact h2::before {
    content: "";
    position: absolute;
    top: 100%;
    width: 90%;
    height: 2px;
    background-color: #64ffda;
    transform: scaleX(0);
    transition: all 0.6s ease;
  }
  #Contact h2::before {
    bottom: 0;
    left: 0;
  }
  #Contact h2:hover::before {
    transform: scale(1);
    margin-left: 2px;
  }
  #Contact h2:hover {
    color: #64ffda;
  }
}
@media (min-width: 1024px) and (max-width: 1279px) {
  .heroBack {
    display: flex;
    align-items: center;
    padding: 30px;
    width: 100%;
    height: 100%;
    color: white;
    margin-top: 35px;
  }
  #about h3 {
    border-right: 1px solid #64ffda;
    color: white;
    padding: 6px;
  }
  #about h2 {
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    margin-left: 10px;
    position: relative;
  }
  #about h2::before {
    content: "";
    position: absolute;
    top: 100%;
    width: 100%;
    height: 2px;
    background-color: #64ffda;
    transform: scaleX(0);
    transition: all 0.6s ease;
  }
  #about h2::before {
    bottom: 0;
    left: 0;
  }
  #about h2:hover::before {
    transform: scale(1);
    margin-left: 2px;
  }
  #about h2:hover {
    color: #64ffda;
  }
  #skills h3 {
    border-right: 1px solid #64ffda;
    color: white;
    padding: 6px;
  }
  #skills h2 {
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    margin-left: 10px;
    position: relative;
  }
  #skills h2::before {
    content: "";
    position: absolute;
    top: 100%;
    width: 100%;
    height: 2px;
    background-color: #64ffda;
    transform: scaleX(0);
    transition: all 0.6s ease;
  }
  #skills h2::before {
    bottom: 0;
    left: 0;
  }
  #skills h2:hover::before {
    transform: scale(1);
    margin-left: 2px;
  }
  #skills h2:hover {
    color: #64ffda;
  }
  #skills .skill_container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 30px;
    padding: 30px 0px;
  }
  #Projects h3 {
    border-right: 1px solid #64ffda;
    color: white;
    padding: 6px;
  }
  #Projects h2 {
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    margin-left: 10px;
    position: relative;
  }
  #Projects h2::before {
    content: "";
    position: absolute;
    top: 100%;
    width: 100%;
    height: 2px;
    background-color: #64ffda;
    transform: scaleX(0);
    transition: all 0.6s ease;
  }
  #Projects h2::before {
    bottom: 0;
    left: 0;
  }
  #Projects h2:hover::before {
    transform: scale(1);
    margin-left: 2px;
  }
  #Projects h2:hover {
    color: #64ffda;
  }
  #Contact h3 {
    border-right: 1px solid #64ffda;
    color: white;
    padding: 6px;
  }
  #Contact h2 {
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    margin-left: 10px;
    position: relative;
  }
  #Contact h2::before {
    content: "";
    position: absolute;
    top: 100%;
    width: 100%;
    height: 2px;
    background-color: #64ffda;
    transform: scaleX(0);
    transition: all 0.6s ease;
  }
  #Contact h2::before {
    bottom: 0;
    left: 0;
  }
  #Contact h2:hover::before {
    transform: scale(1);
    margin-left: 2px;
  }
  #Contact h2:hover {
    color: #64ffda;
  }
}
@media (min-width: 1280px) {
  #about h3 {
    border-right: 1px solid #64ffda;
    color: white;
    padding: 6px;
  }
  #about h2 {
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    margin-left: 10px;
    position: relative;
  }
  #about h2::before {
    content: "";
    position: absolute;
    top: 100%;
    width: 100%;
    height: 2px;
    background-color: #64ffda;
    transform: scaleX(0);
    transition: all 0.6s ease;
  }
  #about h2::before {
    bottom: 0;
    left: 0;
  }
  #about h2:hover::before {
    transform: scale(1);
    margin-left: 2px;
  }
  #about h2:hover {
    color: #64ffda;
  }
  #skills .skill_container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}/*# sourceMappingURL=style.css.map */